autom4te.cache
Debug
Release
ELFIO.sdf
ELFIO.v11.suo
ELFIO.opensdf
.vs


ELFIOTest/Debug
ELFIOTest/ELFIOTest.vcxproj.user

examples/ELFDump/Debug

# generated elf files
elf_examples/*_copy
elf_examples/*_copy.elf
elf_examples/elf_dummy_header_i386_32.elf
elf_examples/elf_dummy_header_i386_64.elf
elf_examples/elf_dummy_header_ppc_32.elf
elf_examples/elf_dummy_header_ppc_64.elf
elf_examples/write_exe_i386_32

/ELFIO.v12.suo
ELFIOTest/ELFIOTest

# various unwanted files (backups, objects, cmake artifacts)
*~
*.o
*.kate-swp
*.swp
.#*
\#*#
CMakeCache.txt
Makefile
CMakeFiles
/build*/
*.res

# autotools artifacts
.deps
config.status

# eclipse project files
.settings
.project
.cproject
.cdtproject
.cdtbuild

# netbeans project files
/dist/
Makefile
.dep.inc
nbproject

# QtCreator project files
CMakeLists.txt.user

# ignore all _ prefixed directories (usually used for generated directories)
_*/

# Latex build output
*.pdf
*.log
*.out
*.aux
*.bbl
*.toc
*.blg
/examples/elfdump/ELFDump.vcxproj.user
