Source: elfio
Priority: optional
Maintainer: Serge Lamikhov-Center <to_serge@hotmail.com>
Build-Depends: debhelper-compat (= 12), autotools-dev
Standards-Version: 4.4.1
Section: libs
Homepage: http://serge1.github.io/ELFIO
Vcs-Browser: https://github.com/serge1/ELFIO
Vcs-Git: https://github.com/serge1/ELFIO.git

Package: elfio
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}
Description: C++ library for reading and generating ELF files
 ELFIO - ELF (Executable and Linkable Format) reader and producer
 implemented as a header-only C++ library

