Source: elfio
Priority: optional
Maintainer: Serge Lamikhov-Center <to_serge@hotmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Section: libs
Homepage: http://serge1.github.io/ELFIO
Vcs-Browser: https://github.com/serge1/ELFIO
Vcs-Git: https://github.com/serge1/ELFIO.git

Package: elfio
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}
Description: C++ library for reading and generating ELF files
 ELFIO is a header-only C++ library intended for reading and generating
 files in the ELF binary format. It is used as a standalone library - it is not
 dependent on any other product or project. Adhering to ISO C++, it compiles on
 a wide variety of architectures and compilers.
 
